@page "/"

<PageTitle>Home</PageTitle>

<h1>The Case of the Curious Counter</h1>

<p>
	Welcome to the home page of the curious counter. This is a simple application that demonstrates the use of a counter.
</p>

<p>
	To see the counter in action, navigate to the <a href="counter">counter page</a>.
</p>

<p>
	There's something curious about this counter though. For some reason, even though it's using the MyCounter field it isn't actually incrementing and reflecting the entries in the counter. Your job detectives, is to find out why my counter won't increment.
</p>
